<script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/6.1.2/tinymce.min.js" integrity="sha512-cJ2vUNryvHzgNJfmFTtZ2VX5EMT5JOU1i8nm+L1kwoHQ9bSqSYdswxyk++9Gi27p3BG2rXZXLMsTsluY4RZSSw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
  tinymce.init({
    selector: '.tinymce'
  });
</script>

<%= simple_form_for(blog, html: { novalidate: true }) do |f| %>
  <div class="modal-body">
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs row spaced">
      <div class="mb-3 col-12">
        <%= f.input :title, input_html: { class: "form-control" }  %>
        <%= f.input :teaser, input_html: { class: "form-control" }  %>
        <%= f.association :user, label: "Author", :include_blank => false, :label_method => lambda { |user| "#{user.full_name}" }, input_html: { class: "form-control" }  %>
      </div>

      <div class="mb-3 col-12 form-group">
        <%= f.label "Categories" %><br>
        <div class="form-check">
          <%= f.collection_check_boxes(:blog_category_ids, BlogCategory.all, :id, :name ) %>
        </div>
      </div>

      <div class="mb-3 col-12 mb-3">
        <%= f.text_area :body, label: "Blog Body", class: "tinymce" %>
      </div>
      <div class="mb-3 col-12">
        <%= f.input :published, label: "Published"  %>
      </div> <!-- col -->
      <div class="mb-3 col-12">
        <%= f.input :published_at, label: "Published On", input_html: { class: "form-control" }  %>
      </div> <!-- col -->


      <div class="text-center mb-3 col-12">
        <h3 class="mb-0 pb-0 mt-2">Images</h3>
        <p><small><em>Only one image is needed (URL or upload).  If both are present, the URL will be used.</em></small></p>
      </div>

      <div class="mb-3 col-sm-6">
        <%= f.input :image_url, input_html: { class: "form-control" }  %>
      </div>
      <div class="mb-3 col-sm-6">
        <%= f.label "Variant Images" %><br>
        <%= f.file_field :photos, :multiple => true, class: "mb-1" %>
      </div>
      <div class="mb-3 col-12">
        <%= f.input :video_url, label: "Video URL", input_html: { class: "form-control" }  %>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <%= f.submit "Save Blog", class: "btn" %>
  </div>
<% end %>
