
<main class="flex-shrink-0">
  <section class="pt-5">
    <div class="container px-5 my-5">
      <div class="row gx-5">
        <div class="col-lg-3">
          <div class="d-flex align-items-center mt-lg-5 mb-4">
            <% if @blog.user.image.attached? %>
              <div class="profile-image">
                <img src="<%= url_for(@blog.user.image) %>" />
              </div>
            <% end %>
            <div class="ms-3">
              <div class="fw-bold"><%= @blog.user.full_name %></div>
              <div class="text-muted"><%= @blog.user.job_title %></div>
            </div>
          </div>
        </div>
        <div class="col-lg-9">
          <!-- Post content-->
          <article>
              <!-- Post header-->
              <header class="mb-4">
                <!-- Post title-->
                <h1 class="fw-bolder mb-1"><%= @blog.title %></h1>
                <!-- Post meta content-->
                <div class="text-muted fst-italic mb-2"><%= @blog.published_at.strftime('%B %-d, %Y') %></div>
                <!-- Post categories-->
                <% @blog.blog_categories.each do |category| %>
                  <%= link_to category.name, blog_category_path(category), class: "badge blue rounded-pill mb-2" %>
                <% end %>
              </header>
              <!-- Preview image figure-->
              <figure class="mb-4"><img class="img-fluid rounded" src="<%= @blog.image_url %>" alt="<%= @blog.title %>" /></figure>
              <!-- Post content-->
              <section class="mb-5 blog-body">
                  <%= @blog.body.html_safe %>
              </section>
          </article>
        </div> <!-- col -->
      </div> <!-- row -->
    </div> <!-- container -->
  </section>


  <% if @blog.video_url && @blog.video_url != "" %>
    <section class="bg-grate text-center py-5">
      <div class="container py-5">
        <span class="z-depth-5"><%= @blog.video_url.html_safe %></span>
      </div>
    </section>
  <% end %>


  <section class="container">
    <h2 class="text-center pt-4 pb-2">Comments</h2>
    <div id="disqus_thread"></div>
    <script>
      var disqus_config = function () {
        this.page.url = "<%= polymorphic_url(@blog) %>";  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = "<%= @blog.id %>"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };
      (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = 'https://aloop-offroad.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
    </script>
  </section>



  </section>
</main>
