<main class="container py-5">

  <header class="text-center mb-3">
    <h1>Blog Dashboard</h1>
    <button type="button" class="btn btn-red-outline" data-bs-toggle="modal" data-bs-target="#newBlogModal">
      Add a New Blog
    </button>
  </header>
  <%= render partial: "blogs/modal_new", locals: { blog: Blog.new } %>


  <section class="text-center">
    <% BlogCategory.all.each do |category| %>
      <div class="badge blue rounded-pill mb-2" data-bs-toggle="modal" data-bs-target="#editCategory<%= category.id %>Modal">
        <%= category.name %> <i class="fas fa-pen ps-1 color-white"></i>
      </div>
    <% end %>
    <div class="badge blue-outline bg-gradient rounded-pill mb-2" data-bs-toggle="modal" data-bs-target="#newCategoryModal">
      + Add a New Category
    </div>
  </section>
  <%= render partial: "blog_categories/modal_new", locals: { category: BlogCategory.new } %>
  <% BlogCategory.all.each do |category| %>
    <%= render partial: "blog_categories/modal_edit", locals: { category: category } %>
  <% end %>

  <section>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Actions</th>
          <th scope="col">Blog Title</th>
          <th scope="col">Categories</th>
          <th scope="col">Author</th>
          <th scope="col">Published</th>
        </tr>
      </thead>
      <tbody>
        <% Blog.all.each do |blog| %>
          <tr>
            <td>
              <%= link_to "<i class='fas fa-eye px-1'></i>".html_safe, blog_path(blog) %>
              <span data-bs-toggle="modal" data-bs-target="#editBlog<%= blog.id %>Modal">
                <i class="fas fa-pen px-1 linkish"></i>
              </span>
              <%= render partial: "blogs/modal_edit", locals: { blog: blog } %>
              <%= link_to "<i class='fas fa-trash-alt'></i>".html_safe, blog_path(blog), method: :delete, data: {confirm: "Are you sure you want to delete that blog?"} %>
            </td>
            <td><%= blog.title %></td>
            <td>
              <% blog.blog_categories.each do |category| %>
                <%= link_to category.name, blog_category_path(category), class: "badge blue rounded-pill mb-2" %>
              <% end %>
            </td>
            <td><%= blog.user.full_name %></td>
            <td><%= blog.published_at.strftime('%B %-d, %Y') %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>
</main>