<main class="flex-shrink-0">



    <section class="py-5">
        <div class="container px-5">
            <h1 class="fw-bolder fs-5 mb-4">Aloop Kits</h1>


            <div class="row g-4">

                <div class="col-12">
                    <div class="card border-0 shadow rounded-3 overflow-hidden h-100">
                        <div class="card-body p-0">
                            <div class="row gx-0">
                                <div class="col-lg-6 col-xl-5 py-lg-5">
                                    <div class="p-4 p-md-5">
                                        <div class="badge red rounded-pill mb-2">XR250</div>
                                        <div class="badge red rounded-pill mb-2">XR400</div>
                                        <div class="display-3">4SMX Kit</div>
                                        <p style="line-height: 1.3;">
                                            The most popular XR400 performance modification in the world! Thousands of our Aloop 4SMX kits are now in service worldwide.
                                        </p>
                                        <%= link_to products_path, class: "btn btn-sm btn-blue" do %>
                                            Shop XR250 and XR400
                                            <i class="fas fa-arrow-right ms-1"></i>
                                        <% end %>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-xl-7">
                                    <%= link_to page_path('XR250_XR400') do %>
                                        <div class="bg-featured-blog" style="background-image: url('https://aloopphotobucket.s3.us-west-1.amazonaws.com/Products/kit_1_1.jpg')"></div>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- col -->


                <div class="col-sm-6">
                    <div class="card border-0 shadow rounded-3 overflow-hidden h-100">
                        <div class="card-body p-0">
                            <div class="row gx-0">
                                <div class="col-12">
                                    <%= link_to products_path do %>
                                        <div class="bg-featured-blog" style="background-image: url('https://aloopphotobucket.s3.us-west-1.amazonaws.com/Products/kit_2_1.jpg')"></div>
                                    <% end %>
                                </div>
                                <div class="col-12">
                                    <div class="p-4 p-md-5">
                                        <div class="badge red rounded-pill mb-2">XR600</div>
                                        <div class="display-3">4SMX Kit</div>
                                        <p style="line-height: 1.3;">
                                            This kit fits all XR600's from 1988 to 2000.
                                        </p>
                                        <%= link_to page_path('XR600'), class: "btn btn-sm btn-blue" do %>
                                            Shop XR600
                                            <i class="fas fa-arrow-right ms-1"></i>
                                        <% end %>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div> <!-- col -->  



                <div class="col-sm-6">
                    <div class="card border-0 shadow rounded-3 overflow-hidden h-100">
                        <div class="card-body p-0">
                            <div class="row gx-0">
                                <div class="col-12">
                                    <%= link_to products_path do %>
                                        <div class="bg-featured-blog" style="background-image: url('https://aloopphotobucket.s3.us-west-1.amazonaws.com/Products/kit_3_1.jpg')"></div>
                                    <% end %>
                                </div>
                                <div class="col-12">
                                    <div class="p-4 p-md-5">
                                        <div class="badge red rounded-pill mb-2">XR650L</div>
                                        <div class="display-3">4SMX Kit</div>
                                        <p style="line-height: 1.3;">
                                            This kit fits all 1993-2024 Honda XR650L models.
                                        </p>
                                        <%= link_to page_path('XR650L'), class: "btn btn-sm btn-blue" do %>
                                            Shop XR650L
                                            <i class="fas fa-arrow-right ms-1"></i>
                                        <% end %>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div> <!-- col -->  



            </div> <!-- row -->

        </div>
    </section>




    <section class="py-5 bg-gears">
        <div class="container my-5 px-5">
            <div class="row gx-5">
                <div class="col-12">
                    <div class="card z-depth-5 border-0 h-100">
                        <div class="card-body p-4">
                            <div class="d-flex h-100 align-items-center justify-content-center">
                                <div class="text-center">
                                    <div class="display-3">Need a Part?</div>
                                    <p class="text-muted mb-2">
                                        We have spare parts...well, to spare!  We've got you covered.
                                    </p>
                                    <%= link_to products_path, class: "btn btn-blue btn-sm mt-2" do %>
                                        Shop Replacement Parts
                                        <i class="fas fa-arrow-right ms-1"></i>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="py-5">
        <div class="container px-5">

            <div class="row g-4">

                <div class="col-12">
                    <div class="card border-0 shadow rounded-3 overflow-hidden h-100">
                        <div class="card-body p-0">
                            <div class="row gx-0">
                                <div class="col-lg-6 col-xl-5 py-lg-5">
                                    <div class="p-4 p-md-5">
                                        <div class="badge red rounded-pill mb-2">XR250</div>
                                        <div class="badge red rounded-pill mb-2">XR400</div>
                                        <div class="badge red rounded-pill mb-2">XR600</div>
                                        <div class="badge red rounded-pill mb-2">XR650L</div>
                                        <div class="display-3">Graphics Kits</div>
                                        <p style="line-height: 1.3;">
                                            Here's a look at our Aloop Graphic kits, past and present...
                                        </p>
                                        <%= link_to products_path, class: "btn btn-sm btn-blue" do %>
                                            Shop Graphics
                                            <i class="fas fa-arrow-right ms-1"></i>
                                        <% end %>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-xl-7">
                                    <%= link_to page_path('graphics') do %>
                                        <div class="bg-featured-blog" style="background-image: url('https://aloopphotobucket.s3.us-west-1.amazonaws.com/Products/Gen+V+Graphics.jpeg')"></div>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- col -->



                <div class="col-sm-6">
                    <div class="card border-0 shadow rounded-3 overflow-hidden h-100">
                        <div class="card-body p-0">
                            <div class="row gx-0">
                                <div class="col-12">
                                    <%= link_to products_path do %>
                                        <div class="bg-featured-blog" style="background-image: url('https://aloopphotobucket.s3.us-west-1.amazonaws.com/Products/fender_1.jpg')"></div>
                                    <% end %>
                                </div>
                                <div class="col-12">
                                    <div class="p-4 p-md-5">
                                        <div class="badge red rounded-pill mb-2">XR250</div>
                                        <div class="badge red rounded-pill mb-2">XR400</div>
                                        <div class="display-3">Rear Fenders</div>
                                        <p style="line-height: 1.3;">
                                            Fits all 1993-2004 Honda models.
                                        </p>
                                        <%= link_to products_path, class: "btn btn-sm btn-blue" do %>
                                            Shop Fenders
                                            <i class="fas fa-arrow-right ms-1"></i>
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- col -->  



                <div class="col-sm-6">
                    <div class="card border-0 shadow rounded-3 overflow-hidden h-100">
                        <div class="card-body p-0">
                            <div class="row gx-0">
                                <div class="col-12">
                                    <%= link_to products_path do %>
                                        <div class="bg-featured-blog" style="background-image: url('https://aloopphotobucket.s3.us-west-1.amazonaws.com/Products/fender_2.jpg')"></div>
                                    <% end %>
                                </div>
                                <div class="col-12">
                                    <div class="p-4 p-md-5">
                                        <div class="badge red rounded-pill mb-2">XR600</div>
                                        <div class="badge red rounded-pill mb-2">XR650L</div>
                                        <div class="display-3">Rear Fenders</div>
                                        <p style="line-height: 1.3;">
                                            Fits all Honda XR600R&nbsp;(1985-2000), XR650L&nbsp;(1993-2014), XR250L&nbsp;(1991-1996), and XR350R&nbsp;(1985) models.
                                        </p>
                                        <%= link_to products_path, class: "btn btn-sm btn-blue" do %>
                                            Shop Fenders
                                            <i class="fas fa-arrow-right ms-1"></i>
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- col --> 

            </div> <!-- row -->

        </div>
    </section>




    <section class="py-5 bg-key-guard">
        <div class="container my-5 px-5">
            <div class="row gx-5">
                <div class="col-12">
                    <div class="card z-depth-5 border-0 h-100">
                        <div class="card-body p-4">
                            <div class="d-flex h-100 align-items-center justify-content-center">
                                <div class="text-center">
                                    <div class="display-3">Color Coded Key Covers</div>
                                    <p class="text-muted mb-2">
                                        Aloop’s Polaris Key ID key covers will help you keep your keys organized.
                                    </p>
                                    <%= link_to products_path, class: "btn btn-blue btn-sm mt-2" do %>
                                        Shop Key Covers
                                        <i class="fas fa-arrow-right ms-1"></i>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</main>