<div class="col-sm-6 col-md-3">
	<div class="product-box h-100">
		<%= link_to product_path(product) do %>
			<div class="">
				<% demo_picture_url = "" %>
				<% product.components.each do |component| %>
					<% component.variants.each do |variant| %>
						<% if variant.photos.count != 0 %>
							<% demo_picture_url = url_for(variant.photos.first) %>
						<% end %>
					<% end %>
				<% end %>
				<img src="<%= demo_picture_url %>">
			</div>
		<% end %>
		<div class="p-3">
			<h3 class="h4 mt-3 mb-0"><%= product.name %></h3>
			<p><small><em><%= product.undertitle %></em></small></p>
			<p class="h3 color-blue mb-2"><%= number_to_currency(product.price, precision: 2) %></p>
			<% if product.price %>
				<%= link_to number_to_currency(product.price), product_path(product), class: "btn btn-redmt-2" %>
			<% else %>
				<%= link_to "Buy Now", product_path(product), class: "btn btn-redmt-2" %>
			<% end %>
		</div> <!-- text padding -->
	</div> <!-- product box -->
</div> <!-- box -->


