<section class="bg-grate p-5">

  <header class="text-center">
    <h1 class="display-1 thin color-white py-5">Create an Account</h1>
  </header>

  <div class="raised-box p-5 mb-5">
    <%= simple_form_for(resource, as: resource_name, url: user_registration_path) do |f| %>
      <div class="form-inputs spaced row">
        <%= f.hidden_field :initial_order, value: params[:order_id] %>
        
        <div class="form-group col-sm-6">
          <%= f.input :first_name, input_html: { class: "form-control" } %>
        </div> <!-- col -->
        <div class="form-group col-sm-6">
          <%= f.input :last_name, input_html: { class: "form-control" } %>
        </div> <!-- col -->

        <div class="form-group col-12">
          <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email", class: "form-control" }%>
        </div> <!-- form group -->
        <div class="form-group col-sm-6">
          <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password", class: "form-control" } %>
        </div> <!-- form group -->
        <div class="form-group col-sm-6">
          <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password", class: "form-control" } %>
        </div> <!-- form group -->
      </div>

      <div class="form-actions text-center">
        <%= f.button :submit, "Let's Go", class: "mb-3" %><br>
        <%= render "users/shared/links" %>
      </div>
    <% end %>

  </div>

</section>



